@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.container-width {
  max-width: 1120px;
  margin: 0 auto;
}
.btn {
  padding: 5px 0;
  background-color: white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
}
.btn-primary {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn-block {
  min-width: 35%;
}

/* navigation bar */
.top-page {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-logo {
  max-width: 100px;
  display: flex;
  align-items: center;
}
.nav-logo > img {
  width: 80%;
  cursor: pointer;
}
.nav-menu-container {
  position: relative;
  cursor: pointer;
}
.nav-menu {
  color: white;
  display: none;
  cursor: pointer;
  /* position: relative; */
}
.nav-lists {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-links {
  margin: 0 0.5rem;
}
.nav-links > a {
  list-style-type: none;
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-pf {
  max-width: 30px;
  display: flex;
  align-items: center;
}
.user-pf > img {
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .nav-menu {
    display: block;
  }
  .nav-left {
    flex-wrap: wrap;
  }
  .nav-menu-container:hover .nav-lists {
    opacity: 1;
  }
  .nav-lists {
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
    flex-direction: column;
    position: absolute;
    padding: 1rem 0;
    left: -3rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
/* end of navigation bar */

/* hero section */
.hero {
  background-image: url(/src/backdrop/13.jpg);
  background-position: 50%;
  background-size: cover;
  height: 56.25vw;
  display: flex;
  position: relative;
}
.hero-left {
  max-width: 80%;
  background: linear-gradient(77deg, rgba(0, 0, 0, 0.6), transparent 85%);
}
.hero-container {
  position: absolute;
  bottom: 25%;
  display: flex;
  width: 36%;
  /* height: 65%; */
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3rem;
}
.title-logo {
  max-width: 100%;
}
.title-logo > img {
  width: 85%;
  cursor: pointer;
}
.hero-desc {
  color: white;
  font-size: 18px;
  margin-bottom: 2rem;
  text-align: justify;
  /* max-width: 100%; */
  max-height: 100px;
  overflow: hidden;
  cursor: pointer;
}
.hero-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 1080px) {
  .hero-desc {
    font-size: 16px;
  }
}
/* end of hero section */

/* main section */
.row-container {
  padding-left: 3rem;
  background-color: rgb(0, 0, 0);
}
.row-section {
  white-space: nowrap;
}
.row-heading {
  font-size: 1.5rem;
  padding: 1rem 0;
  color: white;
  cursor: pointer;
  display: block;
}
.row-slide {
  overflow-x: scroll;
}
.card-container {
  /* display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(6, 1fr); */
  display: inline-block;
  max-width: 15%;
  padding: 1rem 0;
}
.row-slide::-webkit-scrollbar {
  display: none;
}
.row-card {
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  padding-right: 5px;
}
.row-card > img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.row-card:hover > img {
  transform: scale(1.2);
  transition: all 0.2s;
}
@media screen and (max-width: 1080px) {
  .card-container {
    max-width: 20%;
  }
}
@media screen and (max-width: 768px) {
  .card-container {
    max-width: 40%;
  }
}
