@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  height: 300vh;
  background-color: rgb(0, 0, 0);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.container-width {
  padding: 0 2.5vw;
}
.btn {
  /* padding: 1vw 2vw; */
  background-color: white;
  border-radius: 4px;
  font-weight: bold;
  white-space: nowrap;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 2vw;
}
.btn-primary {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn-block {
  width: 10vw;
  height: 2.5vw;
  font-size: 1.2vw;
}

/* navigation bar */
.top-page {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: all 0.02s;
}
.top-page.nav-scrolled {
  background-color: rgb(0, 0, 0, 0.8);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}
.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-logo {
  max-width: 100px;
  display: flex;
  align-items: center;
}
.nav-logo > img {
  width: 80%;
  cursor: pointer;
}
.nav-menu-container {
  position: relative;
  cursor: pointer;
}
.nav-menu {
  color: white;
  display: none;
  cursor: pointer;
  /* font-size: 1.5vw; */
  /* position: relative; */
}
.nav-lists {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-links {
  margin: 0 0.5rem;
}
.nav-links > a {
  list-style-type: none;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-pf {
  max-width: 30px;
  display: flex;
  align-items: center;
}
.user-pf > img {
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .nav-menu {
    display: block;
  }
  .nav-left {
    flex-wrap: wrap;
  }
  .nav-menu-container:hover .nav-lists {
    opacity: 1;
    transition: opacity 0.2s;
  }
  .nav-lists {
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    position: absolute;
    padding: 10px 0;
    left: -5vw;
    border-radius: 5px;
    margin-top: 0.5vw;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .nav-links > a {
    font-size: 2vw;
  }
}
/* end of navigation bar */

/* hero section */
.hero {
  background-image: url(/src/backdrop/13.jpg);
  background-position: 50%;
  background-size: cover;
  height: 50vw;
  display: flex;
  margin-bottom: 1vw;
}
.hero-left {
  max-width: 80%;
  background: linear-gradient(77deg, rgba(0, 0, 0, 0.6), transparent 85%);
}
.hero-container {
  display: flex;
  max-width: 40vw;
  height: 80%;
  flex-direction: column;
  justify-content: flex-end;
}
.title-logo {
  max-width: 100%;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  margin-bottom: 1vw;
}
.title-logo > img {
  width: 100%;
  cursor: pointer;
}
.hero-desc {
  color: white;
  font-size: 1vw;
  margin-bottom: 0.5rem;
  max-width: 100%;
  max-height: 60px;
  cursor: pointer;
}
.hero-btn {
  display: flex;
  align-items: center;
  gap: 1vw;
  cursor: pointer;
}
button {
  border: none;
}
@media screen and (max-width: 1080px) {
  .hero {
    height: 45vw;
  }
  .hero-left {
    max-width: 55%;
  }
  .hero-container {
    max-width: 40vw;
    height: 85%;
  }
  .hero-desc {
    font-size: 1.1vw;
  }
  .btn-block {
    width: 12vw;
    height: 3vw;
    font-size: 1.3vw;
  }
}
@media screen and (max-width: 1024px) {
  .hero {
    height: 50vw;
  }
  .hero-left {
    max-width: 60%;
  }
  .hero-container {
    max-width: 50vw;
    height: 88%;
  }
  .hero-desc {
    font-size: 1.2vw;
  }
  .btn-block {
    width: 12vw;
    height: 3vw;
    font-size: 1.3vw;
  }
}
@media screen and (max-width: 900px) {
  .hero {
    height: 60vw;
  }
  .hero-left {
    max-width: 70%;
  }
  .hero-container {
    max-width: 60vw;
    height: 88%;
  }
  .hero-desc {
    font-size: 1.2vw;
  }
  .btn-block {
    width: 14vw;
    height: 4vw;
    font-size: 1.4vw;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    height: 65vw;
  }
  .hero-left {
    max-width: 60%;
  }
  .hero-container {
    max-width: 100vw;
    height: 90%;
  }
  .hero-desc {
    font-size: 1.5vw;
  }
  .btn-block {
    width: 18vw;
    height: 4vw;
    font-size: 1.8vw;
  }
}
@media screen and (max-width: 500px) {
  .hero {
    height: 70vw;
  }
  .hero-left {
    max-width: 70%;
  }
  .hero-container {
    max-width: 100vw;
    height: 88%;
  }
  .hero-desc {
    font-size: 1.9vw;
  }
  .btn-block {
    width: 20vw;
    height: 5vw;
    font-size: 2.1vw;
  }
}
@media screen and (max-width: 450px) {
  .hero {
    height: 100vw;
  }
  .hero-left {
    max-width: 100%;
  }
  .hero-container {
    max-width: 100vw;
    height: 85%;
  }
  .hero-desc {
    font-size: 2.8vw;
  }
  .btn-block {
    width: 50vw;
    height: 10vw;
    font-size: 3.5vw;
  }
}
/* end of hero section */

/* main section */
.row-container {
  background-color: rgb(0, 0, 0);
}
.row-section {
  white-space: nowrap;
}
.row-heading {
  font-size: 2vw;
  color: white;
  cursor: pointer;
  display: block;
  cursor: pointer;
  display: inline-block;
}
.row-slide {
  padding-left: 1vw;
  overflow-x: scroll;
}
.row-slide::-webkit-scrollbar {
  display: none;
}
.card-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1vw 0;
}
.card-img {
  max-width: 15%;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
}
.card-img:hover {
  transform: scale(1.04);
  transition: all 0.1s;
}
@media screen and (max-width: 1080px) {
  .card-img {
    max-width: 25%;
  }
}
@media screen and (max-width: 1024px) {
  .card-img {
    max-width: 30%;
  }
  .row-heading {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 900px) {
  .card-img {
    max-width: 35%;
  }
  .card-container {
    gap: 0.4rem;
  }
  .row-heading {
    font-size: 3vw;
  }
}
@media screen and (max-width: 768px) {
  .card-img {
    max-width: 40%;
  }
  .card-container {
    gap: 0.3rem;
  }
  .row-heading {
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 450px) {
  .card-img {
    max-width: 60%;
  }
  .row-heading {
    font-size: 4vw;
  }
}
